<a href="/" class="back-link">← Back to articles</a>
<article>
{{{content}}}
</article>
{{#if comment_url}}
<div class="comment-link">
<a href="{{comment_url}}" target="_blank" rel="noopener noreferrer">Follow me or comment</a>
</div>
{{/if}}
